@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?39753191');
  src: url('../fonts/fontello.eot?39753191#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?39753191') format('woff'),
       url('../fonts/fontello.ttf?39753191') format('truetype'),
       url('../fonts/fontello.svg?39753191#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39753191#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-vimeo:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-pinterest:before { content: '\e805'; } /* '' */
.icon-flickr:before { content: '\e806'; } /* '' */
.icon-yahoo:before { content: '\e807'; } /* '' */
.icon-linkedin:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-dribbble:before { content: '\e80a'; } /* '' */
.icon-behance:before { content: '\e80b'; } /* '' */
.icon-dropbox:before { content: '\e80c'; } /* '' */
.icon-github-circled:before { content: '\e80d'; } /* '' */
.icon-yelp:before { content: '\e80e'; } /* '' */
.icon-tumblr:before { content: '\e80f'; } /* '' */
.icon-soundcloud:before { content: '\e810'; } /* '' */
.icon-spotify:before { content: '\e811'; } /* '' */
.icon-digg:before { content: '\e812'; } /* '' */
.icon-acrobat:before { content: '\e813'; } /* '' */
.icon-call:before { content: '\e814'; } /* '' */
.icon-email:before { content: '\e815'; } /* '' */
.icon-angle-left:before { content: '\e816'; } /* '' */
.icon-angle-right:before { content: '\e817'; } /* '' */
.icon-angle-up:before { content: '\e818'; } /* '' */
.icon-angle-down:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-sitemap:before { content: '\e81b'; } /* '' */
.icon-down-big:before { content: '\e81c'; } /* '' */
.icon-left-big:before { content: '\e81d'; } /* '' */
.icon-right-big:before { content: '\e81e'; } /* '' */
.icon-up-big:before { content: '\e81f'; } /* '' */
.icon-setting:before { content: '\e821'; } /* '' */
.icon-logout:before { content: '\e822'; } /* '' */
.icon-user:before { content: '\e823'; } /* '' */
.icon-login:before { content: '\e825'; } /* '' */