@charset "utf-8";
/*------------------------------------------------------------------
[Master Stylesheet]

Project:		Tino
Version:		1.0
Description:	SilverStripe Template
Primary use:	Business Websites  
Author:     	Ali Alamshahi
Author URL:		http://alialamshahi.com
License:		The MIT License (MIT)

------------------------------------------------------------------- 
Last change:    No Changes


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
